.DS_Store
*.conf
*.uuid
*.spotify-token-cache
*.log
*.db
*.yaml.o
secrets.yaml
ip_bans.yaml
config.json
AccessoryInfo.*.json
IdentifierCache.*.json
deps/
components/shell_commands/reboot_ap02.yaml
known_devices.yaml
